@import "~bootstrap/scss/bootstrap";
::-webkit-scrollbar {
  width: 0;
  height: 5px;
}
legend {
  float: unset;
  width: 100%;
  padding: 0;
  margin-bottom: $legend-margin-bottom;
  @include font-size($legend-font-size);
  font-weight: $legend-font-weight;
  line-height: inherit;

  + * {
    clear: left;
  }
}